h1 {
    color:red; 
}

h1:hover{color:yellowgreen}

p {display:inline-block;
    width:20%;
    margin-left:40px;
  }

  p:active {
    background-color: yellow;
    color:rgb(60, 107, 236);
  }
  
.vl {
    border-left: 5px solid green;
    padding: 10;
    display:inline-block;
    height: auto;
  }

  html{background-color: aquamarine;}